{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>검색 결과 페이지</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/usalist.css' %}">
</head>

{% include 'main/navbar.html' %}

<body>
    <header>
        <h1>검색 결과 리스트</h1>
    </header>
    <ul>
        <li>
            {% for id, name, store_type, address in sejong_list %}
            <div class="restaurant-info">
                <h3>식당 이름 : <a class="restaurant-link" href="../detail/{{id}}">{{name}}</a></h3>
                <p>식당 종류 : {{store_type}}</p>
                <p>주소: {{address}}</p>
                {% comment %} <p>전화번호: 전화번호 1</p> {% endcomment %}
            </div>
            {% endfor %}
        </li>
    </ul>
</body>
</html>
