/*바디,헤더,풋터*/
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

header {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}

header h1 {
	font-size: 3em;
	margin: 0;
}

section {
	margin: 50px auto;
	width: 80%;
	text-align: center;
}

section h2 {
	font-size: 2em;
	margin-bottom: 20px;
}

section p {
	font-size: 1.2em;
	line-height: 1.5em;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
}

/*검색창*/
.search-box {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 10px 0;
}
  
.search-box form {
	display: flex;
	align-items: center;
}

.search-box input[type="text"] {
	padding: 5px;
	margin-right: 10px;
	border: 1px solid #ccc; /* 테두리색 */
	border-radius: 5px;
	padding: 8px;
	font-size: 16px;
	width: 500px; /* 너비 조절 */
}
  
.search-box button[type="submit"] {
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	background-color: #555;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
